<!DOCTYPE html>
<html>
<head>
    <title>NGO Dashboard</title>
    <link rel="stylesheet" href="../static/stylengo.css">
</head>
<body>
    <h2>Welcome, {{ username }} (NGO)</h2>
    <ul>
        <li><a href="/ngo/profile">Profile</a></li>
        <li><a href="/ngo/listings">View Listings</a></li>
        <li><a href="/ngo/claims">Claims</a></li>
        <li><a href="/ngo/volunteers">Volunteers</a></li>
        <li><a href="/ngo/notifications">Notifications</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
